@font-face {
    font-family: 'Oswald';
    src: local('Oswald'),
    url('../fonts/Oswald-VariableFont.ttf') format("truetype");
}

* {
    font-family: 'Oswald', monospace;
    font-size: 1.1rem;
}

html {
    position: relative;
    min-height: 100%;
}

img {
    object-fit: cover;
}

.border-top {
  border-top: 1px solid #F5F5F5;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.navbar-brand {
    font-size: 1.7rem;
}

.nav-item {
    font-size: 1.3rem;
}

.carousel-inner {
    max-height: 700px !important;
}

.show-card, .show-card img {
    height: 300px;
    background-repeat: no-repeat;
    background-size: auto;
}

.show-card img {
    opacity: 0.3;
}
.letter-spacing-1{
  letter-spacing: 0.3rem;
}
.form-text, .form-text li{
    font-size: 0.9rem;
}
.login-icon{
    width: 10rem;
    height: 10rem;
}
.login-card{
    width: 25rem;
}
.text-saffron{
    color: #FF9529;
}
.btn-outline-saffron{
    color: #FF9529;
    background-color: #fff;
    border-color: #FF9529;
}
.btn-outline-saffron:active, .btn-outline-saffron:hover, .btn-outline-saffron:checked + label{
    color: #fff;
    background-color: #FF9529;
    border-color: #FF9529;
}