<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'icons/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/application.css' %}">
    <title>{{ page_title }} | GreenLife</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-gradient bg-success">
    <div class="container">
        <a class="navbar-brand text-uppercase" href="/">GreenLife</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-uppercase {% if nbar == 'index' %}active{% endif %}" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase {% if nbar == 'search' %}active{% endif %}" href="/searching">Find a Donor</a>
                </li>
            {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-uppercase {% if nbar == 'login' %}active{% endif %}" href="/donation_list">Login</a>
                </li>
            {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-uppercase {% if nbar == 'dashboard' %}active{% endif %}" href="/donation_list">{{user.username}}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<footer class="footer bg-light bg-gradient border-top">
    <div class="container">
        &copy; 2021 - GreenLife <a class="link-success">Privacy Policy</a>
    </div>
</footer>
</body>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</html>