{% extends 'base.html' %}
{% block content %}

<div class="navbar navbar-dark sticky-top bg-dark p-2 shadow">
    <div class="container-fluid">
         <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <ul class="navbar-nav px-3 ms-auto">
              {% if user.userprofile.role != "Donor" %}
                <li class="nav-item text-nowrap">
                  <a class="btn btn-info bg-gradient" href="/donor_registration">Be a donor</a>
                </li>
              {% endif %}
              {% if user.userprofile.role == "Donor" %}
                  <li class="nav-item text-nowrap">
                  <a class="btn btn-success bg-gradient">Donor mode on</a>
                </li>
              {% endif %}
          </ul>
    </div>
</div>


<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse vh-100">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column nav-pills">
              <li class="nav-item">
                <a class="nav-link link-light {% if dbar == 'donation_list' %}active{% endif %}" href="/donation_list">
                    <span class="fas fa-hand-holding-water"></span>
                  Received Donation
                </a>
              </li>
            <li class="nav-item">
            <a class="nav-link link-light {% if dbar == 'update_profile' %}active{% endif %}" href="/update_profile">
                <span class="fas fa-user"></span>
                 Update Profile
            </a>
          </li>
        {% if user.userprofile.role == "Donor" %}
            <li class="nav-item">
            <a class="nav-link link-light {% if dbar == 'donated_to' %}active{% endif %}" href="/donated_to">
                <span class="fas fa-hand-holding-medical"></span>
                Donated To
            </a>
          </li>
        {% endif %}
        </ul>
        <hr class="border-top">
        <a class="nav-link link-light bg-danger" href="/logout_view">
            <span class="fa fa-sign-out-alt"></span>
            Sign Out
        </a>
      </div>
    </nav>

    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        {% block dashboard %}
        {% endblock %}
    </div>
  </div>
</div>

{% endblock %}