{% extends 'dashboard.html' %}
{% block dashboard %}
      <div class="table-responsive p-3">
        <table class="table table-success table-active table-striped table-sm">
          <thead>
            <tr>
                <th>Donor</th>
                <th>Phone</th>
                <th>Location</th>
                <th>Appointment</th>
                <th>Creation Date</th>
                <th>Status</th>
            </tr>
          </thead>
          <tbody>
           {% for obj in patient %}
            <tr>
              <td>{{obj.donor_data.first_name}}</td>
              <td>{{obj.donor_data.donor.phone}}</td>
              <td>{{obj.donor_data.donor.location}}</td>
                <td>{{obj.appointment_date}}</td>
              <td>{{obj.donation_date}}</td>
                {% if not obj.donor_data.donation_status %}
                    <td>Pending</td>
                {% endif %}
                {% if obj.donor_data.donation_status %}
                    <td>Completed</td>
                {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
{% endblock %}