{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
    <h1 class="text-center">Search Blood Donor by Area</h1>
      <form method="GET" action="">
           <div class="form-group mb-3">
                 <select class="form-select form-select-lg" name="location" id="location">
                     <option value="" selected disabled>Choose Location</option>
                     <option value="Dhaka">Dhaka</option>
                     <option value="Barisal">Barisal</option>
                     <option value="Chittagong">Chittagong</option>
                     <option value="Khulna">Khulna</option>
                     <option value="Mymensingh">Mymensingh</option>
                     <option value="Rajshahi">Rajshahi</option>
                     <option value="Rangpur">Rangpur</option>
                     <option value="Sylhet">Sylhet</option>
                </select>
           </div>
            <div class="row">
                <div class="col">
                    <select class="form-select form-select-lg" aria-label="Choose Blood Group" id="blood" name="blood">
                        <option value="" disabled selected>Choose Blood Group</option>
                        <option value="Ap">A+</option>
                        <option value="Am">A-</option>
                        <option value="Bp">B+</option>
                        <option value="Bm">B-</option>
                        <option value="Op">O+</option>
                        <option value="Om">O-</option>
                        <option value="ABp">AB+</option>
                        <option value="ABm">AB-</option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-select form-select-lg" aria-label="Disease" id="disease" name="disease">
                        <option value="False" selected>Disease Free</option>
                        <option value="True">Have Minor Disease</option>
                    </select>
                </div>
            </div>
        <div class="d-flex justify-content-between">
             <button type="submit" class="btn btn-success btn-lg m-2 col">Apply Filter</button>
            <a class="btn btn-warning btn-lg m-2 col" href="/searching">Reset Filter</a>
        </div>
      </form>
</div>

        <div class="container mt-5">
        <div class="table-responsive">
            <table class="table table-success table-sm table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Donor</th>
                    <th scope="col">Blood Group</th>
                    <th scope="col">Disease</th>
                    <th scope="col">Ask for Donation</th>
                    <th scope="col">Location</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in donor_list %}
                   {% if obj.donor_data.id is not user.id %}
                        <tr>
                            <td class="text-capitalize">{{ obj.donor_data.first_name }}</td>
                            <td>{{ obj.blood_group }}</td>
                            {% if obj.disease %}
                                 <td>minor</td>
                            {% endif %}
                            {% if not obj.disease %}
                                 <td>none</td>
                            {% endif %}
                            <td>

                                    {% if user.is_authenticated %}
                                        <a class="btn btn-sm btn-success" href="{% url 'appointment' %}?id={{ obj.donor_data.id }}">Ask The Donor</a>
                                    {% endif %}
                                    {% if not user.is_authenticated %}
                                        <a class="btn btn-sm btn-success" href="/donation_list">Unlock</a>
                                    {% endif %}

                            </td>
                            <td>{{ obj.location }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-end">
        {% if donor_list.has_previous %}
            <li class="page-item">
              <a class="page-link link-success" href="{% url 'searching' %}?page={{donor_list.previous_page_number}}">Previous</a>
            </li>
        {% endif %}
        {% if not donor_list.has_previous %}
            <li class="page-item disabled">
              <a class="page-link link-success">Previous</a>
            </li>
        {% endif %}
        {% if donor_list.has_next %}
            <li class="page-item">
              <a class="page-link link-success" href="{% url 'searching' %}?page={{donor_list.next_page_number}}">Next</a>
            </li>
        {% endif %}
          {% if not donor_list.has_next %}
            <li class="page-item disabled">
              <a class="page-link link-success">Next</a>
            </li>
          {% endif %}
      </ul>
    </nav>
    </div>
    <div class="m-5 h-100 p-5">

    </div>
{% endblock %}